html {
    font-family: "Roboto Mono", monospace;
}

#root {
    width: 1150px;
    margin: 0.5rem auto;
}

.main-container {
    display: grid;
    grid-template-areas: "data-input results";
    gap: 10px;
}

#data-input {
    grid-area: "data-input";
}

#resutls {
    grid-area: "results";
}
